.guten-IqVg6i.layout-boxed > .guten-container { max-width: 1120px; } .guten-IqVg6i.guten-element { border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: var(--wp--preset--color--gv-color-border); } .guten-element.guten-IqVg6i { padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; } @media only screen and (max-width: 1024px) { .guten-element.guten-IqVg6i { padding-top: 20px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px; } }.guten-UUpVVE { width: 100%; order: 1;  } .guten-section > .guten-container > .guten-UUpVVE.guten-column > .sticky-wrapper > .guten-column-wrapper, .guten-section > .guten-container > .guten-UUpVVE.guten-column > .guten-column-wrapper { align-content: center; align-items: center; justify-content: space-between; } .guten-UUpVVE > .sticky-wrapper > .guten-column-wrapper, .guten-UUpVVE > .guten-column-wrapper { padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; } @media only screen and (max-width: 1024px) { .guten-UUpVVE { width: 100%; } }.guten-NuTS1A img { width: 246px; object-fit: contain; } .guten-NuTS1A:hover { background: var(--wp--preset--color--gv-color-dark-text-secondary); } .guten-NuTS1A {  width: auto!important; display: inline-block;  } .guten-element.guten-NuTS1A { margin-right: 40px; } @media only screen and (max-width: 767px) { .guten-NuTS1A img { width: 88px; } .guten-element.guten-NuTS1A { margin-right: 0px; } }#guten-xgASDL .gutenverse-menu-wrapper .gutenverse-menu { justify-content: flex-end; } #guten-xgASDL .gutenverse-menu-wrapper .gutenverse-menu > li > a, #guten-xgASDL .gutenverse-menu-wrapper .gutenverse-menu > ul > li > a { height: 72px; font-family: var(--gutenverse-font-family-gv-font-text); font-size: var(--gutenverse-font-size-gv-font-text); font-weight: var(--gutenverse-font-weight-gv-font-text); text-transform: var(--gutenverse-font-transform-gv-font-text); font-style: var(--gutenverse-font-style-gv-font-text); text-decoration: var(--gutenverse-font-decoration-gv-font-text); line-height: var(--gutenverse-font-lineHeight-gv-font-text); letter-spacing: var(--gutenverse-font-spacing-gv-font-text); padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 48px; color: var(--wp--preset--color--gv-color-text-primary); } #guten-xgASDL .gutenverse-menu-wrapper { padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; } #guten-xgASDL.break-point-tablet.guten-nav-menu .guten-nav-overlay, #guten-xgASDL.break-point-mobile.guten-nav-menu .guten-nav-overlay { pointer-events: none !important; } #guten-xgASDL .gutenverse-menu-wrapper .gutenverse-menu > li:hover > a, #guten-xgASDL .gutenverse-menu-wrapper .gutenverse-menu > ul > li:hover > a { color: var(--wp--preset--color--gv-color-accent); } #guten-xgASDL .gutenverse-menu-wrapper .gutenverse-menu > li.current-menu-item > a, #guten-xgASDL .gutenverse-menu-wrapper .gutenverse-menu > ul > li.current-menu-item > a { color: var(--wp--preset--color--gv-color-accent); } #guten-xgASDL .gutenverse-menu-wrapper .gutenverse-menu > li.current-menu-ancestor > a, #guten-xgASDL .gutenverse-menu-wrapper .gutenverse-menu > ul > li.current-menu-ancestor > a { color: var(--wp--preset--color--gv-color-accent); } #guten-xgASDL.guten-nav-menu .gutenverse-menu-wrapper .gutenverse-menu li.menu-item-has-children > a > i { color: var(--wp--preset--color--gv-color-text-primary); } #guten-xgASDL.guten-nav-menu .gutenverse-menu-wrapper .gutenverse-menu > li > a > i,
						#guten-xgASDL.guten-nav-menu .gutenverse-menu-wrapper .gutenverse-menu> ul > li > a > i { font-size: 22px; } #guten-xgASDL.guten-nav-menu .gutenverse-menu-wrapper .gutenverse-menu li.menu-item-has-children:hover > a > i { color: var(--wp--preset--color--gv-color-accent); } #guten-xgASDL.guten-nav-menu .gutenverse-menu-wrapper .gutenverse-menu li.menu-item-has-children.current-menu-parent > a > i { color: var(--wp--preset--color--gv-color-accent); } #guten-xgASDL.guten-nav-menu .gutenverse-menu-wrapper .gutenverse-menu li.menu-item-has-children > a i { margin-top: 1px; margin-right: 0px; margin-bottom: 0px; margin-left: 4px; } #guten-xgASDL .gutenverse-menu-wrapper .gutenverse-menu .sub-menu li  a { font-family: var(--gutenverse-font-family-gv-font-text); font-size: var(--gutenverse-font-size-gv-font-text); font-weight: var(--gutenverse-font-weight-gv-font-text); text-transform: var(--gutenverse-font-transform-gv-font-text); font-style: var(--gutenverse-font-style-gv-font-text); text-decoration: var(--gutenverse-font-decoration-gv-font-text); line-height: var(--gutenverse-font-lineHeight-gv-font-text); letter-spacing: var(--gutenverse-font-spacing-gv-font-text); padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 10px; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; } #guten-xgASDL .gutenverse-menu-wrapper .gutenverse-menu .sub-menu li > a { color: var(--wp--preset--color--gv-color-text-primary); } #guten-xgASDL .gutenverse-menu-wrapper .gutenverse-menu .sub-menu li:hover > a { color: var(--wp--preset--color--gv-color-accent); } #guten-xgASDL .gutenverse-menu-wrapper .gutenverse-menu .sub-menu > li.current-menu-item > a { color: var(--wp--preset--color--gv-color-accent); } #guten-xgASDL .gutenverse-menu-wrapper .gutenverse-menu li.menu-item-has-children .sub-menu { padding-top: 10px; padding-right: 20px; padding-bottom: 10px; padding-left: 20px; } #guten-xgASDL.guten-element .gutenverse-menu-wrapper .gutenverse-menu li.menu-item-has-children .sub-menu { margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 27px; } #guten-xgASDL.guten-nav-menu .gutenverse-menu-wrapper .gutenverse-menu li.menu-item-has-children .sub-menu { border-style: solid; border-width: 1px; border-color: var(--wp--preset--color--gv-color-border); border-top-left-radius: 0px;border-top-right-radius: 0px;border-bottom-right-radius: 16px;border-bottom-left-radius: 16px; background: var(--wp--preset--color--gv-color-white); width: 262px; box-shadow:  0px 0px 0px  rgba(0, 0, 0, 0); } #guten-xgASDL .gutenverse-hamburger-wrapper { justify-content: right; } #guten-xgASDL.guten-nav-menu .gutenverse-hamburger-menu { background: rgba(0, 0, 0, 0); } #guten-xgASDL.guten-nav-menu .gutenverse-menu-wrapper .gutenverse-nav-identity-panel .gutenverse-close-menu { background: rgba(0, 0, 0, 0); } #guten-xgASDL {  width: auto!important; display: inline-block;  } @media only screen and (max-width: 1024px) { #guten-xgASDL .gutenverse-menu-wrapper .gutenverse-menu > li > a, #guten-xgASDL .gutenverse-menu-wrapper .gutenverse-menu > ul > li > a { height: 48px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; } #guten-xgASDL.break-point-mobile.guten-nav-menu .gutenverse-menu-wrapper { background-color: var(--wp--preset--color--white); } #guten-xgASDL.break-point-tablet.guten-nav-menu .gutenverse-menu-wrapper { background-color: var(--wp--preset--color--white); } #guten-xgASDL .gutenverse-menu-wrapper { padding-top: 20px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px; } #guten-xgASDL.guten-nav-menu .gutenverse-menu-wrapper .gutenverse-menu li.menu-item-has-children > a i { margin-right: 00px; padding-right: 11px; border-style: none; } #guten-xgASDL .gutenverse-menu-wrapper .gutenverse-menu .sub-menu li  a { padding-top: 10px; padding-right: 0px; padding-bottom: 10px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; } #guten-xgASDL .gutenverse-menu-wrapper .gutenverse-menu li.menu-item-has-children .sub-menu { padding-top: 0px; padding-right: 0px; padding-bottom: 16px; padding-left: 16px; } #guten-xgASDL.guten-element .gutenverse-menu-wrapper .gutenverse-menu li.menu-item-has-children .sub-menu { margin-top: 0px; margin-right: 0px; margin-bottom: 20px; margin-left: 0px; } #guten-xgASDL.guten-nav-menu .gutenverse-menu-wrapper .gutenverse-menu li.menu-item-has-children .sub-menu { border-style: none;border-color: rgba(0, 0, 0, 0); width: 304px; } #guten-xgASDL.guten-nav-menu .gutenverse-hamburger-menu { width: 32px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; color: var(--wp--preset--color--gv-color-text-primary); border-style: none; } #guten-xgASDL.guten-nav-menu .gutenverse-hamburger-menu i { font-size: 32px; } #guten-xgASDL.guten-nav-menu .gutenverse-menu-wrapper .gutenverse-nav-identity-panel .gutenverse-close-menu i { font-size: 18px; } #guten-xgASDL.guten-nav-menu .gutenverse-menu-wrapper .gutenverse-nav-identity-panel .gutenverse-close-menu { padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 24px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; color: var(--wp--preset--color--gv-color-text-primary); border-style: none; } #guten-xgASDL.guten-nav-menu .gutenverse-menu-wrapper .gutenverse-nav-identity-panel .gutenverse-nav-site-title .gutenverse-nav-logo img { width: 120px; } #guten-xgASDL.guten-nav-menu .gutenverse-menu-wrapper .gutenverse-nav-identity-panel .gutenverse-nav-site-title .gutenverse-nav-logo { margin-bottom: 24px; margin-left: -5px; } } @media only screen and (max-width: 767px) { #guten-xgASDL .gutenverse-menu-wrapper .gutenverse-menu li.menu-item-has-children .sub-menu { padding-top: 0px; padding-right: 0px; padding-bottom: 16px; padding-left: 16px; } #guten-xgASDL.guten-nav-menu .gutenverse-menu-wrapper .gutenverse-menu li.menu-item-has-children .sub-menu { border-style: none;border-color: rgba(0, 0, 0, 0); } #guten-xgASDL.guten-nav-menu .gutenverse-hamburger-menu i { font-size: 28px; } } 
			@media screen and (max-width: 1024px) {
				.guten-nav-menu.break-point-tablet .gutenverse-hamburger-menu {
					display: block;
				}
				.guten-nav-menu.break-point-tablet .gutenverse-menu-wrapper {
					width: 100%;
					max-width: 360px;
					border-radius: 0px 0px 0px 0px;
					background-color: #f7f7f7;
					width: 100%;
					position: fixed;
					top: 0;
					left: -110%;
					height: 100%;
					overflow-y: auto;
					overflow-x: hidden;
					display: flex;
					flex-direction: column-reverse;
					justify-content: flex-end;
					-webkit-transition: left 0.6s cubic-bezier(0.6, 0.1, 0.68, 0.53);
					-moz-transition: left 0.6s cubic-bezier(0.6, 0.1, 0.68, 0.53);
					-o-transition: left 0.6s cubic-bezier(0.6, 0.1, 0.68, 0.53);
					transition: left 0.6s cubic-bezier(0.6, 0.1, 0.68, 0.53);
				}
				.guten-nav-menu.break-point-tablet .gutenverse-menu-wrapper.active {
					left: 0;
				}
				.guten-nav-menu.break-point-tablet .gutenverse-menu-wrapper .gutenverse-menu-container {
					overflow-y: scroll;
				}
				.guten-nav-menu.break-point-tablet .gutenverse-menu-wrapper .gutenverse-nav-identity-panel {
					padding: 10px 0px 10px 0px;
					display: block;
					position: relative;
					z-index: 5;
					width: 100%;
				}
				.guten-nav-menu.break-point-tablet .gutenverse-menu-wrapper .gutenverse-nav-identity-panel .gutenverse-nav-site-title {
					display: inline-block;
				}
				.guten-nav-menu.break-point-tablet .gutenverse-menu-wrapper .gutenverse-nav-identity-panel .gutenverse-close-menu {
					display: block;
				}
				.guten-nav-menu.break-point-tablet .gutenverse-menu-wrapper .gutenverse-menu, 
				.guten-nav-menu.break-point-tablet .gutenverse-menu-wrapper .gutenverse-menu > ul {
					display: block;
					overflow-y: auto;
				}
				.guten-nav-menu.break-point-tablet .gutenverse-menu-wrapper .gutenverse-menu li.menu-item-has-children > a i {
					margin-left: auto;
					padding: 4px 15px;
					border: 1px solid var(--guten-border-color);
					border-radius: 3px;
				}
				.guten-nav-menu.break-point-tablet .gutenverse-menu-wrapper .gutenverse-menu li.menu-item-has-children .sub-menu {
					position: inherit;
					box-shadow: none!important;
					background: none;
				}
				.guten-nav-menu.break-point-tablet .gutenverse-menu-wrapper .gutenverse-menu li {
					display: block;
					width: 100%;
					position: inherit;
				}
				.guten-nav-menu.break-point-tablet .gutenverse-menu-wrapper .gutenverse-menu li .sub-menu {
					display: none;
					max-height: 2500px;
					opacity: 0;
					visibility: hidden;
					transition: max-height 5s ease-out;
				}
				.guten-nav-menu.break-point-tablet .gutenverse-menu-wrapper .gutenverse-menu li .sub-menu.dropdown-open {
					display: block;
					opacity: 1;
					visibility: visible;
				}
				.guten-nav-menu.break-point-tablet .gutenverse-menu-wrapper .gutenverse-menu li a {
					display: block;
				}
				.guten-nav-menu.break-point-tablet .gutenverse-menu-wrapper .gutenverse-menu li a i {
					float: right;
				}
				.guten-nav-menu.break-point-tablet .guten-nav-overlay {
					position: fixed;
					background-color: rgba(0, 0, 0, 0.2);
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					z-index: 999;
					transform: translateX(-100%);
					transition: transform 0s ease-in-out;
				}
				.guten-nav-menu.break-point-tablet .guten-nav-overlay.active {
					animation: slideLeftToRight .5s ease-in-out forwards;
					transition: transform .5s ease-in-out;
				}
				.guten-nav-menu.break-point-tablet .guten-nav-overlay.exiting {
					animation: slideRightToLeft .5s ease-in-out forwards;
					transition: transform .5s ease-in-out;
				}
			}

			@media screen and (min-width: 1025px) {
				.guten-nav-menu.break-point-tablet .gutenverse-menu-wrapper .gutenverse-menu-container {
					height: auto;
				}
			}

			@media screen and (max-width: 767px) {
				.guten-nav-menu.break-point-mobile .gutenverse-hamburger-menu {
					display: block;
				}
				.guten-nav-menu.break-point-mobile .gutenverse-menu-wrapper {
					width: 100%;
					max-width: 360px;
					border-radius: 0px 0px 0px 0px;
					background-color: #f7f7f7;
					position: fixed;
					top: 0;
					left: -110%;
					height: 100% !important;
					overflow-y: auto;
					overflow-x: hidden;
					display: flex;
					flex-direction: column-reverse;
					justify-content: flex-end;
					-webkit-transition: left 0.6s cubic-bezier(0.6, 0.1, 0.68, 0.53);
					-moz-transition: left 0.6s cubic-bezier(0.6, 0.1, 0.68, 0.53);
					-o-transition: left 0.6s cubic-bezier(0.6, 0.1, 0.68, 0.53);
					transition: left 0.6s cubic-bezier(0.6, 0.1, 0.68, 0.53);
				}
				.guten-nav-menu.break-point-mobile .gutenverse-menu-wrapper.active {
					left: 0;
				}
				.guten-nav-menu.break-point-mobile .gutenverse-menu-wrapper .gutenverse-menu-container {
					overflow-y: scroll;
				}
				.guten-nav-menu.break-point-mobile .gutenverse-menu-wrapper .gutenverse-nav-identity-panel {
					padding: 10px 0px 10px 0px;
					display: block;
					position: relative;
					z-index: 5;
					width: 100%;
				}
				.guten-nav-menu.break-point-mobile .gutenverse-menu-wrapper .gutenverse-nav-identity-panel .gutenverse-nav-site-title {
					display: inline-block;
				}
				.guten-nav-menu.break-point-mobile .gutenverse-menu-wrapper .gutenverse-nav-identity-panel .gutenverse-close-menu {
					display: block;
				}
				.guten-nav-menu.break-point-mobile .gutenverse-menu-wrapper .gutenverse-menu, 
				.guten-nav-menu.break-point-mobile .gutenverse-menu-wrapper .gutenverse-menu > ul {
					display: block;
					overflow-y: auto;
				}
				.guten-nav-menu.break-point-mobile .gutenverse-menu-wrapper .gutenverse-menu li.menu-item-has-children > a i {
					margin-left: auto;
					padding: 4px 15px;
					border: 1px solid var(--guten-border-color);
					border-radius: 3px;
				}
				.guten-nav-menu.break-point-mobile .gutenverse-menu-wrapper .gutenverse-menu li.menu-item-has-children .sub-menu {
					position: inherit;
					box-shadow: none;
					background: none;
				}
				.guten-nav-menu.break-point-mobile .gutenverse-menu-wrapper .gutenverse-menu li {
					display: block;
					width: 100%;
					position: inherit;
				}
				.guten-nav-menu.break-point-mobile .gutenverse-menu-wrapper .gutenverse-menu li .sub-menu {
					display: none;
					max-height: 2500px;
					opacity: 0;
					visibility: hidden;
					transition: max-height 5s ease-out;
				}
				.guten-nav-menu.break-point-mobile .gutenverse-menu-wrapper .gutenverse-menu li .sub-menu.dropdown-open {
					display: block;
					opacity: 1;
					visibility: visible;
				}
				.guten-nav-menu.break-point-mobile .gutenverse-menu-wrapper .gutenverse-menu li a {
					display: block;
				}
				.guten-nav-menu.break-point-mobile .gutenverse-menu-wrapper .gutenverse-menu li a i {
					float: right;
				}
				.guten-nav-menu.break-point-mobile .guten-nav-overlay {
					position: fixed;
					background-color: rgba(0, 0, 0, 0.2);
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					z-index: 999;
					transform: translateX(-100%);
					transition: transform 0s ease-in-out;
				}
				.guten-nav-menu.break-point-mobile .guten-nav-overlay.active {
					animation: slideLeftToRight .5s ease-in-out forwards;
					transition: transform .5s ease-in-out;
				}
				.guten-nav-menu.break-point-mobile .guten-nav-overlay.exiting {
					animation: slideRightToLeft .5s ease-in-out forwards;
					transition: transform .5s ease-in-out;
				}
			}

			@media screen and (min-width: 768px) {
				.guten-nav-menu.break-point-mobile .gutenverse-menu-wrapper .gutenverse-menu-container {
					height: auto;
				}
			}
		.guten-uZFsiJ {   }